*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 500;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:  "Amatic SC", sans-serif;
    padding: 20px 0;
    height: 93px;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #37373F;
}
.dot{
    color:#ce1212;
    font-size: 25px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: "Inter", sans-serif;
}
.nav-links a{
    position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 15px;
  color: #858591;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #ce1212; 
  transition:  0.3s ease;
}

.nav-links a:hover {
  color: rgb(96, 97, 104);
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  color: rgb(96, 97, 104);
}

.nav-links a.active::after {
  width: 100%;
}
.navBtn button{
    padding: 8px 26px;
    background-color: #ce1212;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    font-weight: 400;
    line-height: 1.5;
}

