*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 1000vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 92px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05); 
    z-index: 999;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #37373F;
    cursor: pointer;
}
.point{
    color:#ce1212;
    font-size: 25px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: "Inter", sans-serif;
} 
.nav-links a{
    position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 15px;
  color: #858591;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0%;
  height: 1.5px;
  background-color: #ce1212; 
  transition:  0.3s ease-out;
}

.nav-links a:hover {
  color: rgb(96, 97, 104);
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  color: rgb(96, 97, 104);
}

.nav-links a.active::after {
  width: 100%;
}
.navBtn button{
    padding: 8px 26px;
    background-color: #ce1212;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    font-weight: 400;
    line-height: 1.5;
    transition: .5s ease;
}
.navBtn button:hover{
    background-color: #e23232;
    cursor: pointer;
}

.home{
    background-color: #F2F2F2;
    width: 100%;
    height: 87.2vh;
    display: flex;
    padding: 60px 0;
    align-items: center;
    margin-top: 92px;
    justify-content: space-between;
    padding-inline: 7rem;
}

.homeRightSide img{
    width: 520px;
    height: 520px;
    animation: MoveUpDown 2s ease-in-out infinite alternate;
}


.homeLeftSide h1{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    color: #37373F;
    width: 30rem;
}
.homeLeftSide p{
    width: 35rem;
    font-size: 20px;
    color: #727477;
}
.homeLeftButtons{
    display: flex;
    gap: 20px;
    margin-top: 2rem;
}
.FirstBtn{
    padding: 12px 28px;
    border: none;
    border-radius: 50px;
    background-color: #ce1212;
    color: white;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .5s ease;
    cursor: pointer;
}


.FirstBtn:hover{
    background-color: #e23232;
}
.secondBtn{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.secondBtn:hover .watch{
    color: #ce1212;
}

.secondBtn .PlayIcon{
    font-size: 32px;
    color: #ce1212;
    text-align: center;
}
.secondBtn .watch{
    font-size: 16px;
    text-align: center;
    transition: .3s;
    font-weight: 500;
}
.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}
.aboutTitle {
    text-align: center;
}
.aboutTitle h3{
    font-size: 14px;
    font-weight: 400;
    color: #727477;
}
.aboutTitle h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: #37373F;
    font-family: "Amatic SC", sans-serif;
}
.aboutTitle h1 span{
    color: #ce1212;
}
.aboutMain{
    display: flex;
    justify-content: space-around;
    gap: 4.5rem;
    margin-inline: 7rem;
    margin-block: 3rem;
}
.aboutRight{
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutLeft{
    width: 61%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutleftimg img{
    width: 100%;
}
.aboutrightvid img{
    background-color: beige;
    width: 100%;
}

.aboutleftbookingNum{
    border: 4px solid #727477;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.aboutleftbookingNum h2{
    color: #37373F;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;

}
.aboutleftbookingNum h1{
    color: #ce1212;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
}
.italic{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #858591;
    font-style: oblique;
    margin-bottom: 15px;
}
.aboutrighttop ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
}
.aboutrighttop li{
    list-style: none;
    color: #37373F;
}
ul li i {
    font-size: 20px;
    color: #ce1212;
}
.whyUs{
    display: flex;
    background-color: #F2F2F2;
    padding: 3.8rem 7rem;
    gap: 1.5rem;
}
.WhyChooseYummy{
    width: 27rem;
    height: 22rem;
    background-color: #ce1212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-align: start;
    padding: 30px 35px;
}
.WhyChooseYummy h1{
    font-size: 34px;
    line-height: 40.8px;
    font-weight: 700;
}
.WhyChooseYummy button{
    padding: 8px 35px;
    border: none;
    border-radius: 50px;
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #ffffff2d;
    color: white;
    transition: .3s;
    cursor: pointer;
}
.WhyChooseYummy button:hover{
    background-color: white;
    color: #ce1212;
}
.whycards{
    width: 20rem;
    background-color: #fff;
    text-align: center;
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: .5px solid #bebec256;

}
.whycards h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #37373F;
    width: 80%;
}
.whycards p {
    color: #56565e;
    width: 80%;
}
.whyIcon{
    background-color:#fad6d65c;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: .5s ease-out;
}

.whyIcon svg{
    width: 32px;
    color: #ce1212;
}

.whycards:hover .whyIcon{
    background-color: #ce1212;
}
.whycards:hover .whyIcon svg{
    color: white;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(../images/stats-bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.state{
    text-align: center;
}
.state h1{
    color: white;
    font-size: 48px;
}
.state h4{
    color: #b0b3b8;
}
.Menu{
    margin-block: 5rem;

}
.MenuTitle{
    margin-bottom: 5rem;
}
.MenuChoises{
    display: flex;
    align-items: center;
    justify-content: center;
}
.MenuChoises ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.MenuChoises ul li{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #37373F;
    padding-bottom: 10px;
    border-bottom: solid rgb(209, 204, 204) 2px;
    cursor: pointer;
    transition: .2s;
}
.MenuChoises ul li:hover{
    border-bottom: #ce1212 solid 2px;
}
.MenuType{
    margin-top: 2rem;
        display: flex;
    flex-direction: column;
    align-items: center;
}
.MenuType h1{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #ce1212;

}
.MenuType h3{
    font-weight: 400;
    font-size: 15px;
    color: #434349;
}
.platImg{
    width: 300px;
}
.plat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MenuPlats{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    margin-inline: 5rem;
    margin-top: 3rem;
}
.plat h1{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #37373F;
}
.plat p{
    font-size: 17px;
    color: #858591;
    font-weight: 400;
    padding-block: 5px;
}
.plat h2{
    color: #ce1212;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.comments{
    text-align: center;
    padding: 60px 20px;
    background: #e7e7e7;
    height: 75vh;
}

.commentsTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CommentSlides{
  overflow: hidden;
  max-width: 60%;
  margin: 40px auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}
.slide {
    display: flex;
    justify-content: space-between;
  min-width: 100%;
  padding: 30px;
 
}
.carousel1Content{
    border-left: solid 3px #ce1212;
    padding-left: 3rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.carousel1Content span i{
    color: rgb(237, 201, 0);
}
.carousel1Img img{
width: 200px;
border-radius: 50%;
}

.slide p {
  font-style: italic;
  color: #555;
}

.slide h3 {
  margin-top: 20px;
  font-weight: bold;
}

.slide span {
  color: #999;
  font-size: 14px;
}

.dots {
    margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #ce1212;
}

.events {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  
}

.eventsCarousel {
    width: 100%;
  overflow: hidden;
  position: relative;
}

.eventsTrack {
    display: flex;
    gap: 1px;
    transition: transform 0.6s ease;
}

.event-slide {
  flex: 0 0 33.333%;
  position: relative;
  transition: 0.5s;
  height: 400px;
}


.event-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    filter: brightness(60%);
}

.eventContent {
  position: absolute;
  bottom: 30px;
  left: 25px;
  color: white;
  z-index: 2;
}
.Dots {
    margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.Dot {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.Dot.Active {
  background: #ce1212;
}


.chefs {
  padding: 4rem 2rem;
  background: #f9f9f9;
  text-align: center;
}



.chefsCardsContainer {
  display: flex;
  justify-content: center;
  gap: 2rem; 
  flex-wrap: wrap;
  margin-top: 3rem;
}

.chef-card {
  background: #fff;
  width: 400px; 
  height: 80%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
  padding-bottom: 2rem;
}

.chef-card img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.chef-info {
  padding: 1rem;
}

.chef-info h3 {
  margin: 0.5rem 0 0.25rem;
  font-size: 1.2rem;
  color: #222;
}

.chef-info p {
  margin: 0;
  font-size: 0.95rem;
  color: #777;
}

.chef-card:hover {
  scale: 1.1;
  
}















































































































@keyframes MoveUpDown {
    0% {
        transform: translateY(0px);
    }
    
    100% {
        transform: translateY(-20px);
    }
}
