* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  height: 1000vh;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  height: 92px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #37373f;
  cursor: pointer;
}
.point {
  color: #ce1212;
  font-size: 25px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-family: "Inter", sans-serif;
}
.nav-links a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 15px;
  color: #858591;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0%;
  height: 1.5px;
  background-color: #ce1212;
  transition: 0.3s ease-out;
}

.nav-links a:hover {
  color: rgb(96, 97, 104);
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  color: rgb(96, 97, 104);
}

.nav-links a.active::after {
  width: 100%;
}
.navBtn button {
  padding: 8px 26px;
  background-color: #ce1212;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.5s ease;
}
.navBtn button:hover {
  background-color: #e23232;
  cursor: pointer;
}

.home {
  background-color: #f2f2f2;
  width: 100%;
  height: 87.2vh;
  display: flex;
  padding: 60px 0;
  align-items: center;
  margin-top: 92px;
  justify-content: space-between;
  padding-inline: 7rem;
}

.homeRightSide img {
  width: 520px;
  height: 520px;
  animation: MoveUpDown 2s ease-in-out infinite alternate;
}

.homeLeftSide h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: #37373f;
  width: 30rem;
}
.homeLeftSide p {
  width: 35rem;
  font-size: 20px;
  color: #727477;
}
.homeLeftButtons {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}
.FirstBtn {
  padding: 12px 28px;
  border: none;
  border-radius: 50px;
  background-color: #ce1212;
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.5s ease;
  cursor: pointer;
}

.FirstBtn:hover {
  background-color: #e23232;
}
.secondBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.secondBtn:hover .watch {
  color: #ce1212;
}

.secondBtn .PlayIcon {
  font-size: 32px;
  color: #ce1212;
  text-align: center;
}
.secondBtn .watch {
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
}
.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}
.aboutTitle {
  text-align: center;
}
.aboutTitle h3 {
  font-size: 14px;
  font-weight: 400;
  color: #727477;
}
.aboutTitle h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  color: #37373f;
  font-family: "Amatic SC", sans-serif;
}
.aboutTitle h1 span {
  color: #ce1212;
}
.aboutMain {
  display: flex;
  justify-content: space-around;
  gap: 4.5rem;
  margin-inline: 7rem;
  margin-block: 3rem;
}
.aboutRight {
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutLeft {
  width: 61%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutleftimg img {
  width: 100%;
}
.aboutrightvid img {
  background-color: beige;
  width: 100%;
}

.aboutleftbookingNum {
  border: 4px solid #727477;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.aboutleftbookingNum h2 {
  color: #37373f;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}
.aboutleftbookingNum h1 {
  color: #ce1212;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}
.italic {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #858591;
  font-style: oblique;
  margin-bottom: 15px;
}
.aboutrighttop ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
}
.aboutrighttop li {
  list-style: none;
  color: #37373f;
}
ul li i {
  font-size: 20px;
  color: #ce1212;
}
.whyUs {
  display: flex;
  background-color: #f2f2f2;
  padding: 3.8rem 7rem;
  gap: 1.5rem;
}
.WhyChooseYummy {
  width: 27rem;
  height: 22rem;
  background-color: #ce1212;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  text-align: start;
  padding: 30px 35px;
}
.WhyChooseYummy h1 {
  font-size: 34px;
  line-height: 40.8px;
  font-weight: 700;
}
.WhyChooseYummy button {
  padding: 8px 35px;
  border: none;
  border-radius: 50px;
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff2d;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.WhyChooseYummy button:hover {
  background-color: white;
  color: #ce1212;
}
.whycards {
  width: 20rem;
  background-color: #fff;
  text-align: center;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5px solid #bebec256;
}
.whycards h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #37373f;
  width: 80%;
}
.whycards p {
  color: #56565e;
  width: 80%;
}
.whyIcon {
  background-color: #fad6d65c;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-out;
}

.whyIcon svg {
  width: 32px;
  color: #ce1212;
}

.whycards:hover .whyIcon {
  background-color: #ce1212;
}
.whycards:hover .whyIcon svg {
  color: white;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/stats-bg.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.state {
  text-align: center;
}
.state h1 {
  color: white;
  font-size: 48px;
}
.state h4 {
  color: #b0b3b8;
}
.Menu {
  margin-block: 5rem;
}
.MenuTitle {
  margin-bottom: 5rem;
}
.MenuChoises {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuChoises ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.MenuChoises ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #37373f;
  padding-bottom: 10px;
  border-bottom: solid rgb(209, 204, 204) 2px;
  cursor: pointer;
  transition: 0.2s;
}
.MenuChoises ul li:hover {
  border-bottom: #ce1212 solid 2px;
}
.MenuType {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MenuType h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ce1212;
}
.MenuType h3 {
  font-weight: 400;
  font-size: 15px;
  color: #434349;
}
.platImg {
  width: 300px;
}
.plat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MenuPlats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-inline: 5rem;
  margin-top: 3rem;
}
.plat h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: #37373f;
}
.plat p {
  font-size: 17px;
  color: #858591;
  font-weight: 400;
  padding-block: 5px;
}
.plat h2 {
  color: #ce1212;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.comments {
  text-align: center;
  padding: 60px 20px;
  background: #e7e7e7;
  height: 75vh;
}

.commentsTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CommentSlides {
  overflow: hidden;
  max-width: 60%;
  margin: 40px auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}
.slide {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding: 30px;
}
.carousel1Content {
  border-left: solid 3px #ce1212;
  padding-left: 3rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.carousel1Content span i {
  color: rgb(237, 201, 0);
}
.carousel1Img img {
  width: 200px;
  border-radius: 50%;
}

.slide p {
  font-style: italic;
  color: #555;
}

.slide h3 {
  margin-top: 20px;
  font-weight: bold;
}

.slide span {
  color: #999;
  font-size: 14px;
}

.dots {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #ce1212;
}

.events {
  overflow: hidden;
  height: 80vh;
  width: 100%;
}

.eventsCarousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.eventsTrack {
  display: flex;
  gap: 1px;
  transition: transform 0.6s ease;
}

.event-slide {
  flex: 0 0 33.333%;
  position: relative;
  transition: 0.5s;
  height: 400px;
}

.event-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.eventContent {
  position: absolute;
  bottom: 30px;
  left: 25px;
  color: white;
  z-index: 2;
}
.Dots {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.Dot {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.Dot.Active {
  background: #ce1212;
}

.chefs {
  padding: 4rem 2rem;
  text-align: center;
}

.chefsCardsContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.chef-card {
  background: #fff;
  width: 400px;
  height: 80%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding-bottom: 2rem;
}

.chef-card img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.chef-info {
  padding: 1rem;
}

.chef-info h3 {
  margin: 0.5rem 0 0.25rem;
  font-size: 1.2rem;
  color: #222;
}

.chef-info p {
  margin: 0;
  font-size: 0.95rem;
  color: #777;
}

.chef-card:hover {
  scale: 1.1;
}
.bookTable {
  margin-top: 4rem;
}
.bookTable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservationImg {
  width: 33%;
  height: 100%;
}
.reservationImg img {
  height: 100%;
  width: 100%;
}
.bookTableMain {
  display: flex;
  justify-content: center;
  width: 85vw;
  height: 70vh;
  background-color: #f9f9f9;
}

.reservationInfo {
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
textarea:focus {
  border: solid 1px #ce1212 !important;
  outline: none;
}
.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}
.inputs div input::placeholder {
  font-size: 15px;
}
.reservationInfo div input {
  width: 16rem;
  height: 2.7rem;
  padding-inline: 1rem;
  border: lightgray solid 1px;
  transition: 0.3s;
}
.reservationInfo div input:focus {
  border: solid 1px #ce1212 !important;
  outline: none;
}

.submit-button button {
  padding: 0.8rem 4rem;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #ce1212;
  transition: 0.4s;
  cursor: pointer;
}
.submit-button button:hover {
  background-color: #ce1212b7;
}
.message {
  width: 51rem;
  height: 8rem;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  border: lightgray solid 1px;
  transition: 0.3s;
}

.bookTableTop {
  padding-bottom: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookTableTop h6 {
  font-size: 15px;
  font-weight: 600;
  color: #ce1212;
  background-color: #fff7eb;
  padding: 7px 20px;
  border-radius: 30px;
  margin-bottom: 15px;
}
.bookTableTop h2 {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  font-weight: 600;
}
.bookTableTop h2 span {
  color: #ce1212;
}
.gallery {
  height: 80vh;
  background-color: #f9f9f9;
  margin-top: 4rem;
}
.galleryTitle {
  padding-top: 3rem;
}
.contact {
  margin-top: 3rem;
}
.map {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 7rem;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.contactInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding-inline: 7rem;
  margin-top: 3rem;
}
.infoCard {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  height: 7rem;
  display: flex;
  align-items: center;
}
.infoIcon {
  width: 4rem;
  height: 4rem;
  background-color: #ce1212;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 2rem;
}
.infoIcon svg {
  color: white;
}
.infoConten h1 {
  font-size: 20px;
  color: #555;
}
.contactMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactInputs {
  height: 70vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
  padding-inline: 7rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.Name-Email input {
  padding-inline: 10px;
  border: 1px solid lightgrey;
  outline: none;
  transition: 0.4s;
}

.Name-Email input:focus {
  border-color: #ce1212;
}
.Name-Email {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.7rem;
}

.Sub input {
  width: 100%;
  height: 3rem;
  padding-inline: 10px;
  border: 1px solid lightgrey;
  outline: none;
  transition: 0.4s;
}

.Sub input:focus {
  border-color: #ce1212;
}
.Sub {
  width: 100%;
  height: 3rem;
}
.Mess textarea {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid lightgray;
  outline: none;
  transition: 0.4s;
}

.Mess textarea:focus {
  border-color: #ce1212;
}
.Mess {
  width: 100%;
  height: 10rem;
}

.ConButt button {
  padding: 0.8rem 2rem;
  background-color: #ce1212;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 15px;
}

.ConButt {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 35vh;
  background-color: #0b0914;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerbottom {
  padding-top: 20px;
  text-align: center;
}

.footerLogo svg {
  font-size: 25px;
  font-weight: 600;
  color: #ce1212;
}
.footerInfo h6 {
  font-weight: 600;
  color: white;
}
.footerInfo p {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.footerBox {
  width: 15rem;
  display: flex;
  gap: 20px;
}
.footertop {
  padding-top: 30px;
  border-bottom: 1px lightgray solid;
  padding-bottom: 2rem;
  padding-right: 10rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerSocial h6 {
  font-weight: 600;
  color: white;
}
.icons div i {
  color: #8f8b86;
  font-size: 17px;
  transition: 0.3s;
}
.icons div i:hover {
  color: #ce1212;
}

.icons div {
  border: solid #8f8b86 1px;
  border-radius: 50%;
  padding: 7px 10px;
  transition: 0.3s;
  cursor: pointer;
}
.icons div:hover {
  border-color: #ce1212;
}
.icons {
  display: flex;
  gap: 10px;
}

.footerbottom p a {
  color: #ce1212;
  text-decoration: none;
}

.footerbottom p {
  color: white;
  font-size: 14px;
  line-height: 10px;
}






@keyframes MoveUpDown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-20px);
  }
}
